@page "/publications"

@inject IRepository repository
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager

<div class="card mt-2">
    <div class="card-header">
        <span>
            <span class="bi bi-gear" ></span> <b class="h3">Publications</b>
            <a class="btn btn-primary btn-sm float-end" href="/publications/create"><span class="bi bi-plus-circle" ></span> New Publication</a>
        </span>
    </div>
    <div class="card-body">
        <GenericList MyList="Publications">
            <Body>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Title
                            </th>
                            <th>
                                Author
                            </th>
                            <th>
                                Publication Date
                            </th>
                            <th>
                                Project
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Publications!)
                        {
                            <tr>
                                <td>
                                    @item.Title
                                </td>
                                <td>
                                    @item.Author
                                </td>
                                <td>
                                    @item.PublicationDate.ToShortDateString()
                                </td>
                                <td>
                                    @item.Project?.Name
                                </td>
                                <td>
                                    <a href="/publications/edit/@item.Id" class="btn btn-sm btn-warning"><span class="bi bi-pencil-square" ></span> Editar</a>
                                    <button @onclick=@(() => DeleteAsync(item)) class="btn btn-sm btn-danger"><span class="bi bi-trash-fill" ></span> Borrar</button>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </Body>
        </GenericList>
    </div>
</div>


@code {
    public List<Publication> Publications { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    private async Task LoadAsync()
    {
        var responseHttp = await repository.GetAsync<List<Publication>>("/api/publications");
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        Publications = responseHttp.Response;
    }

    private async Task DeleteAsync(Publication publication)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confrimation",
                Text = $"Are you sure to delete the Publication: {publication.Title}?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
            });

        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var loading = sweetAlertService.FireAsync(new SweetAlertOptions() { Title = "Processing", Text = "Please wait", HeightAuto = true, Html = @"<div class=""spinner-border text-warning"" role=""status""></div>", Backdrop = true, ShowConfirmButton = false });
        var responseHttp = await repository.DeleteAsync<Publication>($"api/publications/{publication.Id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/publications");
            }
            else
            {
                var mensajeError = await responseHttp.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
            return;
        }

        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = false,
                Timer = 3000
            });

        toast.FireAsync(icon: SweetAlertIcon.Success, message: "The record has been successfully deleted");
        await LoadAsync();
    }
}