<footer id="footer" class="text-center">
    <div class="copyright">
        &copy; Copyright <strong><span>ITM - Instituto Tecnológico Metropolitano</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        Made by <a href="#">Diana García - Diego Arenas - Team Ragnarok - ReserApp</a>
    </div>
</footer>