<div class="text-center">
    <div class="col-12">
        <div class="spinner-border text-warning" role="status" style="width: 25rem; height: 25rem;"></div>
    </div>
    <div class="row">
        <span class="text-center text-dark h5">Loading...</span>
    </div>
</div>